// Variables
$color-bg: #112238;
$color-text: #404852;
$color-text-light: #FFFFFF;
$color-orange: #F15C41;
$color-orange-light: #F2D5D0;
$color-pink: #E052A0;
$color-blue: #5390E0;
$color-blue-light: #A9C7EF;
$color-green: #4B852C;
$color-green-light: #D8EDCC;
$color-light-grey: #B1B6C3;
$color-white-grey: #EDEFF2;

$text-size: 17px;
$text-size-small: 15px;
$text-line-height: 25px;